*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(/Images/2123.jpg);
    background-size: cover;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.logo{
    height: 120px;
    margin-left: 20px;
}
nav{
    width: 95%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.navBar{
    flex: 1;
    text-align: right;
}
.navBar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
}
.navBar ul li a{
    text-decoration: none;
    color: white;
}